<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="aidal_base">
    <link name="base_footprint">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>
    
    <joint name="base_footprint_joint" type="fixed">
      <origin rpy="0 0 1.5707963267948966" xyz="0.015574 0 0.238"/>
      <parent link="base_footprint"/>
      <child link="base_link"/>
    </joint>

    <link name="base_link">
      <inertial>
        <origin xyz="-0.012628 -0.016092 -0.060646"/>
        <mass value="2.5521"/>
        <inertia ixx="0.066197" ixy="7.0297E-05" ixz="0.00017628" iyy="0.034903" iyz="-0.00059595" izz="0.097938"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/base.stl"/></geometry>
      </visual>
      <collision>
        <origin xyz="-0.015574 0 -0.1"/>
        <geometry><box size="0.4 0.6 0.2"/></geometry>
      </collision>
    </link>

    <link name="chassis_panel">
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/panel.stl"/></geometry>
      </visual>
    </link>
    <joint name="chassis_panel_joint" type="fixed">
      <origin xyz="0.18 0.118 -0.0275"/>
      <parent link="base_link"/>
      <child link="chassis_panel"/>
    </joint>

    <link name="lidar_link">
      <visual>
        <geometry><cylinder radius="0.04" length="0.05"/></geometry>
      </visual>
    </link>
    <joint name="lidar_joint" type="fixed">
      <origin xyz="0 -0.2496 -0.094808"/>
      <parent link="base_link"/>
      <child link="lidar_link"/>
    </joint>

    <link name="chassis_camera_link">
      <visual>
        <geometry><box size="0.02 0.09 0.02"/></geometry>
      </visual>
    </link>
    <joint name="chassis_camera_joint" type="fixed">
      <origin rpy="-1.5707963267948966 0 3.141592653589793" xyz="0 -0.2965 -0.1126"/>
      <parent link="base_link"/>
      <child link="chassis_camera_link"/>
    </joint>

    <link name="right_wheel_link">
      <inertial>
        <origin xyz="-0.024898 2.5665E-18 0"/>
        <mass value="1.0523"/>
        <inertia ixx="0.0033125" ixy="1.5953E-19" ixz="1.2287E-20" iyy="0.0018066" iyz="2.5666E-19" izz="0.0018066"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/wheel.stl" scale="-1 1 1"/></geometry>
      </visual>
      <collision>
        <origin rpy="0 1.5707963267948966 0"/>
        <geometry><cylinder length="0.034" radius="0.085"/></geometry>
      </collision>
    </link>
    <joint name="right_wheel_joint" type="fixed">
      <origin xyz="-0.183 0.015574 -0.153"/>
      <parent link="base_link"/>
      <child link="right_wheel_link"/>
    </joint>

    <link name="left_wheel_link">
      <inertial>
        <origin xyz="0.025224 -8.8034E-15 0"/>
        <mass value="1.0734"/>
        <inertia ixx="0.0033996" ixy="-5.0277E-16" ixz="9.2981E-21" iyy="0.0019593" iyz="3.7534E-19" izz="0.0019593"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/wheel.stl"/></geometry>
      </visual>
      <collision>
        <origin rpy="0 1.5707963267948966 0"/>
        <geometry><cylinder length="0.034" radius="0.085"/></geometry>
      </collision>
    </link>
    <joint name="left_wheel_joint" type="fixed">
      <origin xyz="0.183 0.015574 -0.153"/>
      <parent link="base_link"/>
      <child link="left_wheel_link"/>
    </joint>

    <link name="caster_1_link">
      <inertial>
        <origin xyz="0.00067987 -0.0050012 -0.013414"/>
        <mass value="0.088835"/>
        <inertia ixx="3.1679E-05" ixy="2.0129E-08" ixz="2.7021E-08" iyy="3.9438E-05" iyz="-3.2776E-06" izz="4.6143E-05"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/caster.stl"/></geometry>
      </visual>
    </link>
    <joint name="caster_1_joint" type="fixed">
      <origin rpy="0 0 3.141592653589793" xyz="0.124 -0.17843 -0.1589"/>
      <parent link="base_link"/>
      <child link="caster_1_link"/>
    </joint>
    <link name="caster_wheel_1_link">
      <inertial>
        <origin xyz="0.0010651 2.2204E-16 9.4369E-16"/>
        <mass value="0.12664"/>
        <inertia ixx="0.00011169" ixy="1.1345E-14" ixz="2.2064E-14" iyy="6.0838E-05" iyz="1.7051E-09" izz="6.084E-05"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/caster_wheel.stl"/></geometry>
      </visual>
      <collision>
        <geometry><sphere radius="0.0375"/></geometry>
      </collision>
    </link>
    <joint name="caster_wheel_1_joint" type="fixed">
      <origin xyz="0 -0.022 -0.04516"/>
      <parent link="caster_1_link"/>
      <child link="caster_wheel_1_link"/>
    </joint>

    <link name="caster_2_link">
      <inertial>
        <origin xyz="0.00067987 -0.0050012 -0.013414"/>
        <mass value="0.088835"/>
        <inertia ixx="3.1679E-05" ixy="2.0129E-08" ixz="2.7021E-08" iyy="3.9438E-05" iyz="-3.2776E-06" izz="4.6143E-05"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/caster.stl"/></geometry>
      </visual>
    </link>
    <joint name="caster_2_joint" type="fixed">
      <origin rpy="0 0 3.141592653589793" xyz="-0.124 0.194004 -0.1589"/>
      <parent link="base_link"/>
      <child link="caster_2_link"/>
    </joint>
    <link name="caster_wheel_2_link">
      <inertial>
        <origin xyz="0.0010651 6.1062E-16 7.7716E-16"/>
        <mass value="0.12664"/>
        <inertia ixx="0.00011169" ixy="1.9869E-14" ixz="1.4856E-14" iyy="6.084E-05" iyz="2.0109E-09" izz="6.0838E-05"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/caster_wheel.stl"/></geometry>
      </visual>
      <collision>
        <geometry><sphere radius="0.0375"/></geometry>
      </collision>
    </link>
    <joint name="caster_wheel_2_joint" type="fixed">
      <origin xyz="0 -0.022 -0.04516"/>
      <parent link="caster_2_link"/>
      <child link="caster_wheel_2_link"/>
    </joint>

    <link name="caster_3_link">
      <inertial>
        <origin xyz="0.00067987 -0.0050012 -0.013414"/>
        <mass value="0.088835"/>
        <inertia ixx="3.1679E-05" ixy="2.0129E-08" ixz="2.7021E-08" iyy="3.9438E-05" iyz="-3.2776E-06" izz="4.6143E-05"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/caster.stl"/></geometry>
      </visual>
    </link>
    <joint name="caster_3_joint" type="fixed">
      <origin rpy="0 0 3.141592653589793" xyz="0.124 0.194004 -0.1589"/>
      <parent link="base_link"/>
      <child link="caster_3_link"/>
    </joint>
    <link name="caster_wheel_3_link">
      <inertial>
        <origin xyz="0.0010651 -3.3307E-16 8.8818E-16"/>
        <mass value="0.12664"/>
        <inertia ixx="0.00011169" ixy="-1.8513E-15" ixz="2.474E-14" iyy="6.0837E-05" iyz="-3.1204E-10" izz="6.0841E-05"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/caster_wheel.stl"/></geometry>
      </visual>
      <collision>
        <geometry><sphere radius="0.0375"/></geometry>
      </collision>
    </link>
    <joint name="caster_wheel_3_joint" type="fixed">
      <origin xyz="0 -0.022 -0.04516"/>
      <parent link="caster_3_link"/>
      <child link="caster_wheel_3_link"/>
    </joint>

    <link name="caster_4_link">
      <inertial>
        <origin xyz="0.00067987 -0.0050012 -0.0094542"/>
        <mass value="0.088835"/>
        <inertia ixx="3.1679E-05" ixy="2.0129E-08" ixz="2.7021E-08" iyy="3.9438E-05" iyz="-3.2776E-06" izz="4.6143E-05"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/caster.stl"/></geometry>
      </visual>
    </link>
    <joint name="caster_4_joint" type="fixed">
      <origin rpy="0 0 3.141592653589793" xyz="-0.124 -0.17843 -0.1589"/>
      <parent link="base_link"/>
      <child link="caster_4_link"/>
    </joint>
    <link name="caster_wheel_4_link">
      <inertial>
        <origin xyz="0.0010651 -4.996E-16 7.494E-16"/>
        <mass value="0.12664"/>
        <inertia ixx="0.00011169" ixy="-7.4776E-15" ixz="2.3656E-14" iyy="6.0837E-05" iyz="-1.205E-09" izz="6.0841E-05"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/woosh_agv/caster_wheel.stl"/></geometry>
      </visual>
      <collision>
        <geometry><sphere radius="0.0375"/></geometry>
      </collision>
    </link>
    <joint name="caster_wheel_4_joint" type="fixed">
      <origin xyz="0 -0.022 -0.04516"/>
      <parent link="caster_4_link"/>
      <child link="caster_wheel_4_link"/>
    </joint>

    <link name="body_base_link">
      <inertial>
        <origin xyz="-0.0002128 -0.02749 0.37118"/>
        <mass value="12.159"/>
        <inertia ixx="0.69175" ixy="3.0303E-06" ixz="-1.7947E-05" iyy="0.68839" iyz="0.012363" izz="0.15316"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/body/base.stl"/></geometry>
      </visual>
      <collision>
        <geometry><mesh filename="package://aidal_description/meshes/body/base.stl"/></geometry>
      </collision>
    </link>
    <joint name="body_base_joint" type="fixed">
      <parent link="base_link"/>
      <child link="body_base_link"/>
    </joint>

    <link name="platform_base_link">
      <inertial>
        <origin xyz="-4.8033E-05 -0.05292 0.00070789"/>
        <mass value="2.8992"/>
        <inertia ixx="0.013327" ixy="3.14E-06" ixz="3.5257E-06" iyy="0.032331" iyz="6.163E-05" izz="0.021546"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/body/lift.stl"/></geometry>
      </visual>
      <collision>
        <geometry><mesh filename="package://aidal_description/meshes/body/lift.stl"/></geometry>
      </collision>
    </link>
    <joint name="lift_joint" type="prismatic">
      <origin xyz="0 -0.11663 0.271"/>
      <parent link="body_base_link"/>
      <child link="platform_base_link"/>
      <axis xyz="0 0 1"/>
      <limit effort="60" lower="0" upper="1" velocity="0.15"/>
    </joint>

    <link name="head_link1">
      <inertial>
        <origin xyz="-0.00017562 -0.015989 0.024926"/>
        <mass value="0.049513"/>
        <inertia ixx="1.6251E-05" ixy="-4.4281E-09" ixz="7.808E-08" iyy="2.2171E-05" iyz="-4.661E-07" izz="1.3605E-05"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/body/head1.stl"/></geometry>
      </visual>
      <collision>
        <geometry><mesh filename="package://aidal_description/meshes/body/head1.stl"/></geometry>
      </collision>
    </link>
    <joint name="head_joint1" type="revolute">
      <origin xyz="0 -0.1018 0.126"/>
      <parent link="platform_base_link"/>
      <child link="head_link1"/>
      <axis xyz="0 0 1"/>
      <limit effort="2" lower="-1.256" upper="1.256" velocity="1.57"/>
    </joint>

    <link name="head_link2">
      <inertial>
        <origin xyz="-0.00051349 -0.027144 0.0551"/>
        <mass value="0.23639"/>
        <inertia ixx="0.00025664" ixy="-1.6537E-08" ixz="1.3993E-07" iyy="0.0005615" iyz="1.8036E-05" izz="0.00052625"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/body/head2.stl"/></geometry>
      </visual>
      <collision>
        <geometry><mesh filename="package://aidal_description/meshes/body/head2.stl"/></geometry>
      </collision>
    </link>
    <joint name="head_joint2" type="revolute">
      <origin xyz="0 -0.02 0.044"/>
      <parent link="head_link1"/>
      <child link="head_link2"/>
      <axis xyz="-1 0 0"/>
      <limit effort="2" lower="-0.419" upper="0.419" velocity="1.57"/>
    </joint>

    <link name="camera_link">
      <inertial>
        <origin xyz="0.0016556 -0.01252 1.2156E-05"/>
        <mass value="0.049778"/>
        <inertia ixx="4.8577E-06" ixy="4.3442E-07" ixz="-6.2436E-10" iyy="3.075E-05" iyz="6.4645E-10" izz="3.0901E-05"/>
      </inertial>
      <visual>
        <geometry><box size="0.02 0.09 0.02"/></geometry>
      </visual>
    </link>
    <joint name="camera_joint" type="fixed">
      <origin rpy="-1.5707963267948966 0 3.141592653589793" xyz="-0.0002391 -0.076866 0.061606"/>
      <parent link="head_link2"/>
      <child link="camera_link"/>
    </joint>

    <link name="top_camera">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>
    <joint name="top_camera_joint" type="fixed">
      <origin rpy="-1.5707963267948966 0 3.141592653589793" xyz=" 0 -0.1275 1.451"/>
      <parent link="body_base_link"/>
      <child link="top_camera"/>
    </joint>

    <link name="left_base_link">
      <inertial>
        <origin xyz="-3.58E-05 -0.0056915 0.024464"/>
        <mass value="0.23441"/>
        <inertia ixx="0.00027369" ixy="6.5702E-08" ixz="2.7812E-09" iyy="0.000264" iyz="-1.6355E-06" izz="0.00036679"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/body/arm_base.stl"/></geometry>
      </visual>
    </link>
    <joint name="l_base_joint1" type="fixed">
      <origin rpy="0 -0.7853981633974483 3.141592653589793" xyz="0.1 -0.1103 0.031645"/>
      <parent link="platform_base_link"/>
      <child link="left_base_link"/>
    </joint>

    <link name="right_base_link">
      <inertial>
        <origin xyz="-4.8022E-05 0.0056915 0.024715"/>
        <mass value="0.23441"/>
        <inertia ixx="0.00027369" ixy="6.5702E-08" ixz="-3.2599E-09" iyy="0.000264" iyz="1.6355E-06" izz="0.00036679"/>
      </inertial>
      <visual>
        <geometry><mesh filename="package://aidal_description/meshes/body/arm_base.stl"/></geometry>
      </visual>
    </link>
    <joint name="r_base_joint1" type="fixed">
      <origin rpy="0 -0.7853981633974483 0" xyz="-0.1 -0.1103 0.031645"/>
      <parent link="platform_base_link"/>
      <child link="right_base_link"/>
    </joint>
  </xacro:macro>
</robot>