<?xml version="1.0"?>
<robot name="RealMan_AIDAL" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:arg name="type" default="empty"/>
	<xacro:arg name="joints_movable" default="false"/>
	<xacro:property name="PI" value="3.1415926535897931"/>

	<xacro:property name="type_arg" value="$(arg type)"/>
	<xacro:property name="selected_gripper_type" value="empty"/>
	<xacro:if value="${type_arg == 'eg2-4c2'}">
		<xacro:property name="selected_gripper_type" value="EG2-4C2"/>
	</xacro:if>

	<!-- 引入各个模块的 xacro 文件，分别定义底盘、夹爪、升降平台、机械臂及关节 -->
	<xacro:include filename="$(find aidal_description)/xacro/components/woosh_agv.xacro"/>
	<xacro:woosh_agv joints_movable="$(arg joints_movable)"/>
	<xacro:include filename="$(find aidal_description)/xacro/components/body.xacro"/>
	<xacro:include filename="$(find aidal_description)/xacro/ee.xacro"/>

	<xacro:include filename="$(find aidal_description)/xacro/components/rm_65_arm.xacro"/>
	<xacro:rm_65 prefix="left_" yaw_offset="-1.5708"/>
	<xacro:rm_65 prefix="right_" yaw_offset="1.5708"/>
	<xacro:aidal_ee type="${selected_gripper_type}"/>

	<joint name="body_base_joint" type="fixed">
		<parent link="base_link"/>
		<child link="body_base_link"/>
	</joint>

	<joint name="l_base_joint2" type="fixed">
		<origin xyz="0 0 0.187" rpy="-${PI/2} 0 0"/>
		<parent link="left_base_link"/>
		<child link="left_arm_root"/>
	</joint>

	<joint name="r_base_joint2" type="fixed">
		<origin xyz="0 0 0.187" rpy="-${PI/2} 0 ${PI}"/>
		<parent link="right_base_link"/>
		<child link="right_arm_root"/>
	</joint>
</robot>
